#home {
    padding: 30px;
    background-color: lemonchiffon;

    h1 {
        margin: 20px;
        text-align: center;
    }

    ul {
        width: 100%;

        li {
            width: 50%;

            .card {
                margin: 5px;
                padding: 10px;
                background-color: lightcoral;
                border: solid 1px black;
                border-radius: 5px;
                transition: 0.5s;

                &:hover {
                    color: white;
                    background-color: black;
                }

                h3 {
                    border-bottom: solid 1px black;
                }

                a.pag:hover {
                    color: lime;
                }

                .options {

                    a.mod:hover{
                        color:yellow;
                    }

                    a.del {
                        margin-left: 5px;
    
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .new a {
        margin: 35px;
        padding: 10px 20px;
        font-size: 20px;
        color: white;
        background-color: darkblue;
        border-radius: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}