/* regole flex */

.flex {
  display: flex;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_rev {
  display: flex;
  flex-direction: column-reverse;
}

.just_start {
  justify-content: flex-start;
}

.just_cen {
  justify-content: center;
}

.just_end {
  justify-content: flex-end;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

.align_end {
  align-items: flex-end;
}

header {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

footer {
  padding: 10px 0;
  border-top: 1px solid #000;
}

#home {
  padding: 30px;
  background-color: lemonchiffon;
}

#home h1 {
  margin: 20px;
  text-align: center;
}

#home ul {
  width: 100%;
}

#home ul li {
  width: 50%;
}

#home ul li .card {
  margin: 5px;
  padding: 10px;
  background-color: lightcoral;
  border: solid 1px black;
  border-radius: 5px;
  transition: 0.5s;
}

#home ul li .card:hover {
  color: white;
  background-color: black;
}

#home ul li .card h3 {
  text-transform: capitalize;
  border-bottom: solid 1px black;
}

#home ul li .card a.pag:hover {
  color: lime;
}

#home ul li .card .options a.mod:hover {
  color: yellow;
}

#home ul li .card .options a.del {
  margin-left: 5px;
}

#home ul li .card .options a.del:hover {
  color: red;
}

#home .new a {
  margin: 35px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
}

#home .new a:hover {
  text-decoration: underline;
}

#show {
  padding: 30px;
  background-color: lemonchiffon;
}

#show h1 {
  margin: 20px;
  text-align: center;
}

#show .options {
  width: 215px;
}

#show .options a {
  margin: 5px;
  padding: 10px;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
}

#show .options a:hover {
  background-color: black;
}

#show .options a.mod:hover {
  color: yellow;
}

#show .options a.del:hover {
  color: red;
}

#create {
  padding: 30px;
  background-color: lemonchiffon;
}

#create h1 {
  margin: 20px;
  text-align: center;
}

#create .label_row {
  flex-grow: 0;
  margin-top: 15px;
  font-size: 20px;
}

#create .label_row label {
  width: 240px;
}

#create .label_row input {
  width: 300px;
  padding: 3px 5px;
  border: solid 1px black;
  border-radius: 5px;
}

#create .label_row input:focus {
  outline: none;
}

#create .new {
  margin: 35px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
}

#create .new:hover {
  text-decoration: underline;
}

#edit {
  padding: 30px;
  background-color: lemonchiffon;
}

#edit h1 {
  margin: 20px;
  text-align: center;
}

#edit .label_row {
  flex-grow: 0;
  margin-top: 15px;
  font-size: 20px;
}

#edit .label_row label {
  width: 240px;
}

#edit .label_row input {
  width: 300px;
  padding: 3px 5px;
  border: solid 1px black;
  border-radius: 5px;
}

#edit .label_row input:focus {
  outline: none;
}

#edit .edita {
  margin: 35px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
}

#edit .edita:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

